## Все переменные обязательны, если другое не указано явно

PORT=3000

# При запуске в докере хост - db
DATABASE_URL=""

DB_USER=""
DB_PASSWORD=""
DB_NAME=""

# При запуске в докере хост - redis
REDIS_URL=""

# Любые наборы символов
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

# development / production
NODE_ENV="development"

# Пароль админа, созданного при сборке
INITIAL_ADMIN_PASSWORD=""

# Показать интерфейс сваггер (true/false)
ENABLE_SWAGGER=""

# Токен бота, полученный Телеграме (опционально, можно оставить пустым)
TELEGRAM_TOKEN=""