PORT=3000


DATABASE_URL=""

DB_USER=""
DB_PASSWORD=""
DB_NAME=""

REDIS_URL=""

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

NODE_ENV="development"

INITIAL_ADMIN_PASSWORD=""

TELEGRAM_TOKEN=""

TG_CHAT_ID=""

ENABLE_SWAGGER=""