## Окружение для автотестов. Все переменные обязательны

# При запуске в докере хост - db
DATABASE_URL=""

DB_USER=""
DB_PASSWORD=""
DB_NAME=""

# Любые наборы символов
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

# development / production
NODE_ENV="development"